.share-by-social {
  .desc {
    margin-bottom: 16px;
    font-size: 15px;
    color: var(--neutral-04);
    line-height: 1.4;
  }
  .method {
    width: 32%;
    border: 2px solid var(--neutral-03);
    height: 48px;
    padding: 0 20px;
    border-radius: 12px;
    cursor: pointer;
    > span {
      margin-left: 14px;
    }
  }
}

@media screen and (max-width: 500px) {
  .share-by-social {
    .desc {
      margin-bottom: 16px;
      font-size: 15px;
    }
    .method {
      border: 2px solid var(--neutral-03);
      height: 48px;
      padding: 0 20px;
      border-radius: 12px;
    }
  }
}
