.area-box {
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 8px;
  .area-item {
    > div {
      grid-template-columns: 1fr;
      grid-row-gap: 8px;
      &:first-of-type {
        grid-template-rows: repeat(4, auto);
      }
      &:last-of-type {
        grid-template-rows: repeat(3, auto);
      }
    }
  }
  .content-box {
    width: 624px;
    margin: 0 auto;
  }
  .pro-tips-box {
    .tips {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-row-gap: 32px;
    }
    .desc {
      margin-bottom: 16px;
      font-size: 15px;
      color: var(--neutral-04);
      line-height: 1.4;
    }
    ::v-deep .icon {
      width: 64px;
      height: 64px;
      margin-right: 12px;
      background-color: var(--neutral-01);
      border: 2px solid var(--neutral-03);
    }
    .subtitle {
      margin-bottom: 8px;
      font-size: 15px;
      color: var(--neutral-07);
    }
    .tag-space {
      width: 4px;
      height: 1px;
      opacity: 0;
    }
    .duration-box {
      width: fit-content;
      padding: 0 8px 0 1px;
      height: 24px;
      border-radius: 12px;
      border: 1px solid var(--neutral-03);
      .text {
        margin-left: 4px;
        color: var(--neutral-04);
      }
    }
  }
  .refund-requests-box {
    .requests-box {
      margin-bottom: 24px;
    }
    ::v-deep .icon {
      width: 48px;
      height: 48px;
      margin-right: 12px;
    }
    .content {
      font-size: 15px;
      line-height: 1.4;
      color: var(--neutral-07);
      padding-top: 4px;
      word-wrap: break-word;
      span.gray {
        color: var(--neutral-04);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .area-box {
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    .area-item {
      > div {
        grid-row-gap: 8px;
      }
      &:last-child {
        margin-top: 8px;
      }
    }
    .content-box {
      width: 100%;
    }
    .pro-tips-box {
      .tips {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 32px;
      }
      .desc {
        margin-bottom: 16px;
        font-size: 15px;
        color: var(--neutral-04);
        line-height: 1.4;
      }
      ::v-deep .icon {
        width: 64px;
        height: 64px;
        margin-right: 12px;
        background-color: var(--neutral-01);
        border: 2px solid var(--neutral-03);
      }
      .subtitle {
        margin-bottom: 8px;
        font-size: 15px;
        color: var(--neutral-07);
      }
      .tag-space {
        width: 4px;
        height: 1px;
        opacity: 0;
      }
      .duration-box {
        width: fit-content;
        padding: 0 8px 0 1px;
        height: 24px;
        border-radius: 12px;
        border: 1px solid var(--neutral-03);
        .text {
          margin-left: 4px;
          color: var(--neutral-04);
        }
      }
    }
    .refund-requests-box {
      .requests-box {
        margin-bottom: 24px;
      }
      ::v-deep .icon {
        width: 48px;
        height: 48px;
        margin-right: 12px;
      }
      .content {
        font-size: 15px;
        line-height: 1.4;
        color: var(--neutral-07);
        padding-top: 4px;
        word-wrap: break-word;
        span.gray {
          color: var(--neutral-04);
        }
      }
    }
  }
}
