.dashboard-box {
  height: 100vh;
  width: 100%;
  background: #f7f8fa;
  overflow-y: hidden;
}

::v-deep .dashboard-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
