@media screen and (max-width: 500px) {
  .sign-in-box {
    padding: 25px 27px 0;
    .logo {
      width: 42px;
      height: 46px;
      background: url("../../../assets/logo_light@2x.png") center no-repeat;
      background-size: cover;
    }
    .sign-in {
      cursor: pointer;
      .question {
        margin-right: 6px;
        color: var(--neutral-shades-04-75);
      }
    }
  }
}
