body,
p {
  padding: 0;
  margin: 0;
}

div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link,
.ant-select-multiple .ant-select-selection-item-remove,
.ant-message-custom-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-table-thead > tr > th {
  background: white;
}

.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  width: 0;
}

.ant-table-tbody > tr:last-child > td {
  border-bottom-width: 0;
}

/* .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border-radius: 50%;
}

.ant-pagination-item {
  border-radius: 50%;
} */

.ant-table-pagination {
  justify-content: center;
  margin-top: 20px !important;
}

@media screen and (max-width: 786px) {
  html {
    font-size: 120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  html {
    font-size: 144px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 170px;
  }
}

div {
  box-sizing: border-box;
}
