.tab-box {
  .tab-header-box {
    border-radius: 12px;
    padding: 8px;
    width: fit-content;
    height: fit-content;
    background: var(--neutral-02);
    .tab-header-wrapper {
      width: 624px;
      height: 124px;
      position: relative;
      .tab-header {
        position: relative;
        z-index: 2;
        .tab-header-item {
          width: 50%;
          cursor: pointer;
        }
      }
    }
  }
  .glider {
    position: absolute;
    background-color: var(--neutral-01);
    z-index: 1;
    border-radius: 8px; // just a high number to create pill effect
    transition: 0.25s ease-out;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;

    box-shadow: 0px 4px 8px -6px rgba(0, 0, 0, 0.02),
      inset 0px 2px 0px 0px rgba(255, 255, 255, 0.25),
      inset 0px -1px 1px 0px rgba(0, 0, 0, 0.04),
      0px 4px 8px -4px rgba(0, 0, 0, 0.25),
      inset 0px 2px 0px 0px rgba(255, 255, 255, 0.25),
      inset 0px -1px 1px 0px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
  }
  .tab-pane {
    position: relative;
    > div {
      width: 100%;
      height: fit-content;
      padding: 32px 0 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .tab-box {
    .tab-header-box {
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      .tab-header-wrapper {
        width: 100%;
        height: fit-content;
      }
    }
    .glider {
      border-radius: 6px; // just a high number to create pill effect
      transition: 0.25s ease-out;
      width: 50%;
      height: 100%;
      top: 0px;
      left: 0px;
    }
    .tab-pane {
      > div {
        padding: 32px 0 20px;
      }
    }
  }
}
