.sign-up {
  justify-content: center;
  align-items: center;
  .content {
    width: 306px;
    .title {
      margin-bottom: 32px;
    }
    .subtitle {
      margin-bottom: 20px;
    }
    .methods {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32px;
      cursor: pointer;
      .method {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48%;
        height: 48px;
        background: var(--neutral-01);
        border-radius: 12px;
        border: 2px solid #efefef;
        span {
          margin-left: 10px;
          font-size: 14px;
        }
      }
    }
    .split-line {
      width: 100%;
      height: 2px;
      background: #efefef;
      margin-bottom: 32px;
    }
    .field-email {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 8px 14px;
      width: 100%;
      height: 48px;
      background: #f4f4f4;
      border-radius: 12px;
      margin-bottom: 16px;
      input {
        margin-left: 8px;
        background: #f4f4f4;
        font-size: 14px;
        flex: 1;
        caret-color: var(--primary-01);
        &:focus {
          border: none;
          outline: none;
        }
      }
    }
    .btn-continue {
      width: 100%;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      background-color: var(--primary-01);
      color: white;
      margin-bottom: 32px;
      &.disabled {
        background: rgba(42, 133, 255, 0.5);
        color: var(--neutral-01);
      }
      cursor: pointer;
    }
    .tips {
      color: var(--neutral-shades-04-75);
      font-size: 14px;
    }
  }
}
